body {

    background-color: GhostWhite;
    padding: 20px;
    text-align: center;
}

h2 {
    color: darkgrey;
    text-align: center;
    font-size: 50px;
}

input[type=text]{
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;
}

.button {
    width: 100%;
    background-color: YellowGreen;
    color: White;
    padding: 12px 12px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
}